.padded{
  padding: 12px !important;
}

.margined{
  margin: 0 2% !important;
}

.centered{
  text-align: center;
}

.headerText{
  text-align: center;
}

.back-button{
  text-align: center;
}

.path-list{
  margin-top: 5px!important;
  overflow: auto;
  height: calc(100vh - 280px);
}