.route-card {
    flex-grow: 0;
    max-width: 100%;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center !important;
    border-radius: 0;
}

.route-button {
    width: 100%;
    font-size: 4vh;
}

.route-icon {
    margin-right: 2vh;
}